@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NewYork";
  src: local("NewYork"),
    url("./assets/fonts/NewYork.otf") format("opentype")
}


body {
  margin: 0;
  font-family: 'neue-haas-grotesk-display', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
