.hero {
    background-image: url('../../assets/images/home/heroImage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.new-Arrivals {
    background-image: url('../../assets/images/home/newArrivals.jpg');
    background-size: cover;
    background-position: 100% 0;
    background-repeat: no-repeat;
}

.men{
    background-image: url('../../assets/images/home/men.jpg');
    background-size: cover;
}

.women{
    background-image: url('../../assets/images/home/women.jpg');
    background-size: cover;
}

.discount{
    background-image: url('../../assets/images/home/discount.jpg');
    background-size: cover;
}

.slide-up{
    animation: slide-up 0.75s cubic-bezier(0.65, 0, 0.35, 1) both;
}
  
@keyframes slide-up{
    0% {transform: translateY(100px) }
    100% { transform: translateY(0) }
}
      