.hero {
    background-image: url('../../assets/images/home/heroImage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
}

.new-Arrivals {
    background-image: url('../../assets/images/home/newArrivals.jpg');
    background-size: cover;
    background-position: 100% 0;
    background-repeat: no-repeat;
}


@media (max-width: 50em) {
    .hero {
        background-image: url('../../assets/images/home/heroImageMobile.jpg');
        background-position: 50% 0%;
    }
    .new-Arrivals {
        background-image: url('../../assets/images/home/newArrivalsMobile.jpg');
        background-position: 50% 0;
    }
}


.men{
    background-image: url('../../assets/images/home/men.jpg');
    background-position: 50% 0;    
    background-size: cover;
}

.women{
    background-image: url('../../assets/images/home/women.jpg');
    background-position: 50% 0; 
    background-size: cover;
}

.discount{
    background-image: url('../../assets/images/home/discount.jpg');
    background-size: cover;
}
